body{
    b ackground: rgb(0, 0, 0)20%;
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    position:relative;
    font-weight: lighter;
    text-align: left;
    margin-top: 1%;
    margin-left:2em;
    display:hidden;
    c olor:white
}
.nextline{
    position:relative;
    display: block;
    height:80px;
    bac kground:rgb(160, 157, 157);
    opacity:80%;
}
.find_me{
    position:absolute;
    font-size: 1.5em;
    font-weight: lighter;
    text-align: left;
    margin-left:2em;
    
    
}
.picture{
    position:relative;
    background-color: rgb(198, 129, 129);
    height:max-content;
    display:block;
    top:0;
}

.aopic{
    margin-left:2em;
    position:absolute;
    height:450px;
    border-radius:50px;
    filter:grayscale(100%);
}
.aopic:hover{
    transform: 0.3s;
    filter:grayscale(0%)

    
}
.bio{
    margin-bottom: 10em;
    margin:2em;
    text-align: justify;
    position:sticky;
    display:none;
    }
.aopic:hover.bio{
    transform: 0.3s;
    transition: linear (-100px);
    display:initial;
}

.h_edu1{
    margin-left:17.5em;
    font-weight: lighter;
    c olor:white
}
.h_edu1:hover{
    transform: 0.3s;
    color:rgb(238, 211, 37);
}
.list_edu{
    line-height: 2em;
    margin-left:25em;
    c olor:white;
}
.list_edu:hover{
    transform: 0.3s;
    background-image:linear-gradient(45deg, #f5ee66, #bb0404);
    background-clip: text;
    color:transparent;
}
.span_b{
    font-weight: bold;
    font-style: italic;
}
.h_workxp{
    position:relative;
    margin-left:37.5em;
    font-weight: lighter;
    c olor:white

}
.h_workxp:hover{
    transform: 0.3s;
    color:rgb(23, 228, 95);
}
.list_wrk{
    line-height: 2em;
    margin-left:55em;
    c olor:white;
}
.list_wrk:hover{
    transform: 0.3s;
    background-image:linear-gradient(45deg, #45ed66, #6e05e6);
    background-clip: text;
    color:transparent;
}
.li{
    height:50px;
    width:50px;
    margin-left:11em;
}
.gh{
    height:50px;
    width:50px;
    margin-left:1.5em;
}

